

html{
  background: linear-gradient(to bottom, #f8f9fa, #e9ecef); /* Subtle gradient background */
  color: black;
  font-family: sans-serif;
}
.App {
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  max-width: 70%;
  margin: 0 auto;
}

/* Header and navigation bar styles */
header {
  background: linear-gradient(to bottom, #f8f9fa, #e9ecef); /* Subtle gradient background */
  position: relative;
  text-align: center;

}
.App-header h3, .logo h2{
  margin: 0px;
  padding: 2px;
  color:  #6A2D9E; /* Gradient from light purple to deep purple */

}

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row-reverse;
}



/* Navbar menu (desktop) */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
/* Logo specific styles */
.logo ul {
  list-style: none; /* Removes bullet points */
  text-align: center;
  padding-top: 10px;
}


.logo ul li a {
  text-decoration: none; /* Removes underline */
  color: black; /* Sets link text color */
}

.menu ul li a:hover {
  text-decoration: underline;
}

/* Hamburger menu (mobile) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  left: 0px; /* Position the hamburger icon on the left */
  justify-content: center;
  align-items: center;
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
}

.hamburger .bar {
  width: 25px;  /* Ensure each bar has enough width */
  height: 4px;  /* Make bars taller for visibility */
  margin: 4px 0;  /* Add space between bars */
  background: linear-gradient(135deg, #D1A1FF, #6A2D9E); /* Gradient from light purple to deep purple */
  z-index: 2;
}
.Services-container {
  display: flex;
  padding: 5px;
  background-color: whitesmoke;
  min-height: 100vh; /* Full viewport height */
}

.Services-header {
  display: flex ;
  position: relative;
  color: #6A2D9E;
  text-align: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.spa-card-list {
  display: flex;
  flex-direction: column; /* Arrange cards in a vertical list */
  gap: 10px; /* Space between cards */
}

/* Mobile-specific styles (screens less than 768px wide) */
@media (max-width: 1165px) {
  /* Hide the regular menu */
  .App {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #ffffff, #b7b6b6ed); /* Subtle gradient background */
    padding: 0px 1% 0px 1%;
  }
 
  .menu {
    display: block;
    position: fixed;
    top: 0;
    left: -250px; /* Start off-screen to the left */
    bottom: 0;
    padding: 10px;
    transition: left 0.3s ease-in-out; /* Apply smooth sliding transition */
    z-index: 10;
    text-align: left;
  }
  .carousel-image img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
  /* Show the hamburger menu on the left side */
  .hamburger {
    display: flex;
  }
  .navbar {
    left: 0%;
    justify-content: space-between;
    align-items: center;
    padding: 5% 3% 2% 0%;
  }
  .navbar .logo {
    position: absolute;
    /* left: 50%; */
    transform: translateX(-90%); /* Centers the logo */
  }
  /* When the menu is open, move it into view */
  .menu.open {
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    top: 5%;
    transition: left 0.3s ease-in-out; /* Apply smooth sliding transition */
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 13%;
    font-size: x-large;
    font-weight: bolder;
  }

  .menu ul li {
    margin-bottom: 5%;
  }

  .menu ul li a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding:5%
  }
  .logo ul li a {
    text-decoration: none;
  }
  .menu ul li a:hover {
    text-decoration: underline;
  }

  /* Body content will move when menu is open */
  .App {
    overflow: hidden; /* Prevent body scroll when menu is open */
  }

  .footer ul {
    padding: 0;
    list-style-type: none; /* Removes default bullet points */
  }
  
  .footer li {
    margin-bottom: 1%;
    display: inline; /* Makes list items inline */
  }
  
  .footer ul li a {
    /* font-size: 15px; */
    color: black;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    text-decoration: underline;
  }
  header {
    /* background-color: whitesmoke; */
    color: black;
    padding: 15px 5px;
    position: relative;
  
  }
  .footer header {
    padding:0%
  }
  .footer-nav{
    padding: 0%;
  }
}
