/* src/BookButton.css */
.book-button {
  background: linear-gradient(135deg, #D1A1FF, #6A2D9E); /* light purple to beautiful purple */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  margin-bottom: 1%;
}

.book-button:hover {
  background: linear-gradient(135deg, #6A2D9E, #D1A1FF); /* invert gradient on hover */
}

.book-button:focus {
  outline: none; /* Remove the focus outline */
}
