
.service-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: linear-gradient(to bottom, #f8f9fa, #e9ecef); Subtle gradient background */
  padding: 1% 1%;
  box-sizing: border-box;
}
.service-container .spa-card-image{
  flex:"important";
}
/* Card-style detail view */
.service-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efe3ffe0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 15px; /* Rounded corners */
  max-width: 100%;
  max-height: 100%;
  text-align: center; /* Center-align text */
  overflow: hidden; /* Ensure content doesn't spill out */
}

/* Styling for the service image */
.service-image img {
  width: 100%;
  height: auto;
  max-height: 50%; /* Ensure the image doesn't dominate the card */
  border-radius: 10px; /* Rounded image corners */
  margin-bottom: 20px; /* Space below image */
}

/* Information section */
.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Space between elements */
}

/* Title styling */
.service-title {
  font-size: 1.8rem;
  font-weight: bold;
  color:#6A2D9E;
  margin: 0;
  text-overflow: ellipsis; /* Handle long text gracefully */
  white-space: pre-wrap;  
}

/* Description styling */
.service-description {
  font-size: 1rem;
  color: #495057;
  line-height: 1.5;
  text-align: center;
}

/* Price styling */
.service-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #28a745;
  margin: 0;
}
@media (max-width: 1165px) {
  .service-detail-container {
    padding: 1% 1%;
  }
}
/* Styles for the modal overlay and content */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.modal-overlay.show {
  display: flex;
  opacity: 1;
}

.modal-content {
  position: relative;
  /* background: white;
  padding: 20px; */
  max-width: 600px;
  transform: translateY(-100%); /* Initially off-screen vertically */
  transition: transform 0.5s ease-in-out; /* Slower vertical sliding */
  width: 100%;
  height: 100%;
}

.modal-content.slide-in {
  transform: translateY(0); /* Slide to its final position */
}
