
.service-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: linear-gradient(to bottom, #f8f9fa, #e9ecef); Subtle gradient background */
  padding: 0 20px; /* Add some padding for smaller screens */
  box-sizing: border-box;
}
.service-container .spa-card-image{
  flex:"important";
}
/* Card-style detail view */
.service-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 15px; /* Rounded corners */
  padding: 20px;
  width: 90%; /* Responsive width */
  max-width: 500px; /* Slightly smaller for better fit */
  max-height: 90%; /* Prevent overflowing on larger screens */
  text-align: center; /* Center-align text */
  overflow: hidden; /* Ensure content doesn't spill out */
}

/* Styling for the service image */
.service-image img {
  width: 100%;
  height: auto;
  max-height: 50%; /* Ensure the image doesn't dominate the card */
  border-radius: 10px; /* Rounded image corners */
  margin-bottom: 20px; /* Space below image */
}

/* Information section */
.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Space between elements */
}

/* Title styling */
.service-title {
  font-size: 1.8rem;
  font-weight: bold;
  color:#6A2D9E;
  margin: 0;
  text-overflow: ellipsis; /* Handle long text gracefully */
  white-space: pre-wrap;  
}

/* Description styling */
.service-description {
  font-size: 1rem;
  color: #495057;
  line-height: 1.5;
  text-align: center;
}

/* Price styling */
.service-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #28a745;
  margin: 0;
}
@media (max-width: 1165px) {
  .service-detail-container {
    padding: 4% 20px;
  }
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: -100%;  /* Initially, the modal is off-screen */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  transition: top 0.6s ease-in-out;  /* Smooth transition for sliding */
  visibility: hidden;  /* Initially hidden */
}

/* When showDetail is true, slide down the modal */
.modal-overlay.show {
  top: 0%;  /* Slide the modal to the top */
  visibility: visible;  /* Make the modal visible */
}

/* Modal Content Styling */
.modal-content {
  background-color: #ffffff7a;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 600px;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
}
